<nav class="navbar navbar-expand-md navbar-dark bg-transparent">
    <div class="container">
        <a href="#" class="navbar-brand">
            <h2>
                <img src="../assets/images/logo-white.png" alt="SoftVenue">
                SoftVenue
            </h2>
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
            aria-label="Menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="mainNavbar" class="collapse navbar-collapse">
                <ul id="menu-navbar" class="navbar-nav ml-auto"><li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-10" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-10 nav-item"><a title="Réalisations" href="http://celyes.epizy.com/category/realisations/" class="nav-link">Réalisations</a></li>
                    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-11" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children dropdown menu-item-11 nav-item"><a title="Solutions" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle" id="menu-item-dropdown-11">Solutions</a>
                    <ul class="dropdown-menu" aria-labelledby="menu-item-dropdown-11" role="menu">
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-14" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-14 nav-item"><a title="Web" href="http://celyes.epizy.com/category/solutions/web/" class="nav-link">Web</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-13" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-13 nav-item"><a title="Mobile" href="http://celyes.epizy.com/category/solutions/mobile/" class="nav-link">Mobile</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-12" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12 nav-item"><a title="Logiciels" href="http://celyes.epizy.com/category/solutions/desktop/" class="nav-link">Logiciels</a></li>
                    </ul>
                    </li>
                    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-7" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-7 nav-item"><a title="Branding" href="http://celyes.epizy.com/category/branding/" class="nav-link">Branding</a></li>
                    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-8" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-8 nav-item"><a title="e-Marketing" href="http://celyes.epizy.com/category/e-marketing/" class="nav-link">e-Marketing</a></li>
                    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-9" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9 nav-item"><a title="Formations" href="http://celyes.epizy.com/category/formations/" class="nav-link">Formations</a></li>
                    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21 nav-item"><a title="Qui sommes-nous?" href="http://celyes.epizy.com/about/" class="nav-link">Qui sommes-nous?</a></li>
                    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20 nav-item"><a title="Conact" href="http://celyes.epizy.com/conactez-nous/" class="nav-link">Conact</a></li>
                    </ul>
            <!-- <ul id="menu-navbar" class="navbar-nav ml-auto">
                {% for item in site.data.nav %}
                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-20"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20 nav-item">
                    <a title="{{ item.title }}" href="/{{ item.link }}/" class="nav-link">{{ item.title }}</a>
                </li>
                {% if item.multi == true %}
                {% for item.child in site.data.nav %}

                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-11"
                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children dropdown menu-item-11 nav-item">
                    <a title="Solutions" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle" id="menu-item-dropdown-11">{{ item.title }}</a>
                    <ul class="dropdown-menu" aria-labelledby="menu-item-dropdown-11" role="menu">
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-14"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-14 nav-item">
                            <a title="Web" href="/category/{{ item.child.link }}/web/"
                                class="nav-link">{{ item.child.title }}</a></li>
                    </ul>
                </li>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </ul> -->

        </div>
    </div>
</nav>